.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  &__logo {
    display: flex;
    align-items: center;
  }
  &__image {
    max-width: 100%;
    width: 200px;
  }
}

.header a {
  font-weight: bold;
  color: #2c3e50;
}
