.profile {
  &__title {
    color: #fff;
    font-size: 2em;
  }
  &__label {
    color: #fff;
    margin: 5px;
  }
  &__input {
    margin: 5px;
    font-size: 1rem;
  }
}

.grey {
    background-color: grey;
}